version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: api-db_container
    environment:
      MYSQL_DATABASE: api_database
      MYSQL_ROOT_PASSWORD: password
    ports:
      - "3308:3306"
    volumes:
      - db_data:/var/lib/mysql
    command:
      --default-authentication-plugin=mysql_native_password
      --character-set-server=utf8
      --collation-server=utf8_unicode_ci
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 20

  frontend:
    build: ./frontend
    container_name: api_frontend_container
    command: yarn dev
    ports:
      - "3000:3000"
    working_dir: /app
    volumes:
      - ./frontend:/app
    stdin_open: true
    tty: true
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: api_backend_container
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    working_dir: /app
    volumes:
      - ./backend:/app
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.development
    stdin_open: true
    tty: true
    depends_on:
      db:
        condition: service_healthy
volumes:
  db_data:
